# Dependencies
**/node_modules/
.pnpm-store/

# Build output
**/dist/
**/build/

# Environment files
.env
.env.*
!.env.example

# Tests and coverage
**/coverage/
**/test-report/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Editor settings
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json